@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: palevioletred;
    font-family: 'Parisienne', cursive;
}